{% extends 'PotagerFrontBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/potagerfront/css/style2.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/potagerfront/js/signIn.js') }}" ></script>
{% endblock %}

{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

<div id="header">
    <img id="logo"
    src="{{ asset('bundles/potagerbusiness/images/logo.png') }}"
    alt="Garden War" />
</div>
<div id="banner" class="{{ factionName|lower }}">
    <div id="about_game">
        {% if factionName == "Kiwi" %}
        <h1>Bienvenue chez les kiwis !</h1>
        <p> Rejoignez la force verte ! </p>
        <a href="{{ path('home') }}">Vous n'aimez pas le vert ? Cliquez ici </a>
        {% else %}
        <h1>Bienvenue chez les Betteraves !</h1>
        <p> Rejoignez la force rouge ! </p>
        <a href="{{ path('home') }}">Le rouge vous déplait ? Cliquez ici </a>
        {% endif %}
        <div class="msg-error">{{ form_errors(form) }}</div>
    </div>
</div>
<form id="rejoindre" class="clearfix" action="{{ path('fos_user_registration_register', {"factionName": factionName }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" novalidate>
    <p class="margin-p">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </p>
    <div class="msg-error">
        {{ form_errors(form.username) }}
    </div>
    <p class="margin-p">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </p>
    <div class="msg-error">
        {{ form_errors(form.email) }}
    </div>
    <p class="margin-p">
        {{ form_label(form.plainPassword.first) }}    
        {{ form_widget(form.plainPassword.first) }}
    </p>
    <div class="msg-error">  
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <p class="margin-p">
        {{ form_label(form.plainPassword.second) }}    
        {{ form_widget(form.plainPassword.second) }}
    </p>
    <div class="msg-error">  
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div class="margin-p">
        Selectionne ton avatar
        <a href="#listAvatars" id="btn-add-img">
            <div class="avatarForm">
                <img src="#" alt="avatar">
            </div>
            <div id="add-img" >+</div>
            <p class="btn">Ajouter</p>
        </a>
    </div>
    <div class="msg-error">  
        {{ form_errors(form.avatar) }}
        
    </div>
    <div class="margin-p">
        {{form_row(form._token)}}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <div id="listAvatars">
        <div class="t">
            <div class="tc">
                <div class="t-content">
                    <a href="#" class="close">Close</a>
                    <h2>Select Your {{ factionName }}</h2>
                    {% for child in form.avatar %}<p class="checkbox {{ factionName|lower }}">{{ form_widget(child) }} <label for="{{child.vars.id}}" ><img src={{ asset(child.vars.label) }} /> </label></p>{% endfor %}
                </div>
            </div>
        </div>
  </div>
</form>
{% endblock %}
