<ul>
	{% for fight in fights %}
	{% if fight.attacker.id == user.id %}
	<li
		class="{% if fight.attacker.id == user.id and fight.attackerWin == 1 %}{{ fight.attacker.faction.name|lower }}{% elseif fight.attacker.id == user.id and fight.attackerWin == -1 %}{{ fight.defender.faction.name|lower }}{% else %}egal{% endif %}">
		<a href="{{ path('fos_user_profile_show_name', {'username': fight.defender.username}) }}">
			<p class="title_last3fights">{% if fight.attackerWin == 1 %} Victoire
				{% elseif fight.attackerWin == -1 %} Défaite {% else %} Égalité {%
				endif %}</p>
			<div class="avatar_enemy">
				<img src="{{ asset(fight.defender.avatar) }}" />
			</div>
			<p class="name_enemy">{{ fight.defender.username }}</p>
		</a>
	</li>{% else %}
	<li
		class="{% if fight.defender.id == user.id and fight.attackerWin == 1 %}{{ fight.attacker.faction.name|lower }}{% elseif fight.defender.id == user.id and fight.attackerWin == -1 %}{{ fight.defender.faction.name|lower }}{% else %}egal{% endif %}">
		<a href="{{ path('fos_user_profile_show_name', {'username': fight.attacker.username}) }}">
			<p class="title_last3fights">{% if fight.attackerWin == -1 %}
				Victoire {% elseif fight.attackerWin == 1 %} Défaite {% else %}
				Égalité {% endif %}</p>
			<div class="avatar_enemy">
				<img src="{{ asset(fight.attacker.avatar) }}" />
			</div>
			<p class="name_enemy">{{ fight.attacker.username }}</p>
		</a>
	</li>{% endif %}
	{% endfor %}
</ul>