<div id="plop" class="clearfix" data-result="{{fight.attackerWin}}">
    {% if fight.attacker.faction.name == 'Betterave' %} 
        {% if fight.attackerWin == 1 %}
             <img src="{{ asset('bundles/potagerfront/images/betterave_attack.gif') }}">
        {% elseif fight.attackerWin == -1 %} 
            <img src="{{ asset('bundles/potagerfront/images/kiwi_defend.gif') }}"> 
        {% elseif fight.attackerWin == 0 %} 
            <img src="{{ asset('bundles/potagerfront/images/draw_beterave.gif') }}">
        {% else %}
            Blzenri zenimrn 
        {% endif %} 
        
    {% else %} 
    
        {% if fight.attackerWin == 1 %} 
            <img src="{{ asset('bundles/potagerfront/images/kiwi.gif') }}"> 
            {% elseif fight.attackerWin == -1 %} 
        <img src="{{ asset('bundles/potagerfront/images/betterave.gif') }}"> 
        {% elseif fight.attackerWin == 0 %} 
            <img src="{{ asset('bundles/potagerfront/images/draw.gif') }}">
        {% endif %}
    {% endif %}

    <a id="backToCharacters" href="{{ path('personnage') }}">&#60; Retour au camp</a>
    <a id="backToFight" href="{{ path('fight') }}">ENCORE &#62;</a>
</div>