{% extends 'PotagerFrontBundle::layout.html.twig' %} {% block content %}

{% set page = 'fight' %}

{{ include('PotagerFrontBundle::header.html.twig') }}
{{ include('PotagerFrontBundle::nav.html.twig') }}

<div id="duels" class="{{ attacker.faction.name|lower }} clearfix">
	<div id="duels_left">{{ attacker.username }}</div>
	<div id="duels_center">VS</div>
	<div id="duels_right">{{ defender.username }}</div>
</div>
{% if attacker.attribute.xp == 100 %}
<p class="updateXp bkg-{{ attacker.faction.name|lower }}">Vous avez 100% d'expérience, rendez-vous sur votre <a href="{{ path('personnage') }}">personnage</a> pour monter de niveau !</p>
{% endif %}
<div id="ring">
	<p class="prepareToFight">Préparez-vous au combat !</p>
	<a id="doFight" href="{{ path('doFight', { id: defender.id, token: token }) }}">La bagarre</a>
</div>
{% endblock %}
