{% block content %}

{{ include('PotagerFrontBundle::header.html.twig') }}
{{ include('PotagerFrontBundle::nav.html.twig') }}

{% trans_default_domain 'FOSUserBundle' %}
<div class="bkg-white border-{{ app.user.faction.name|lower}}">

	<div class="row">
	<p class="col-6">
		<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-taupe">Changer Adresse e-mail</a>
	</p>
	<p class="col-6">
		<a href="#" class="btn btn-taupe active">Changer Mot de passe</a>
	</p>
</div>

{% block fos_user_content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock fos_user_content %}



</div>


{% endblock content %}