{% block content %}

{{ include('PotagerFrontBundle::header.html.twig') }}
{{ include('PotagerFrontBundle::nav.html.twig') }}

{% trans_default_domain 'FOSUserBundle' %}
<div class="bkg-white border-{{ app.user.faction.name|lower}}">
	
	Changer Adresse e-mail

	<a href="{{ path('fos_user_change_password') }}">Changer Mot de passe </a>

	<div id="email">
		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		    {{ form_widget(form) }}
		    <div>
		        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
		    </div>
		</form>

	</div>

{# {{ render (controller('PotagerFrontBundle:ChangePassword:changePassword')) }} #}

</div>


{% endblock content %}