{% block content %}
{% set page = 'visit_users' %}


{{ include('PotagerFrontBundle::header.html.twig') }}
{{ include('PotagerFrontBundle::nav.html.twig') }}

{% trans_default_domain 'FOSUserBundle' %}

<div id="identification" class="bkg-{{ user.faction.name|lower}} border-{{ app.user.faction.name|lower}} clr-white center">

		<h2>{{ user.username|upper }} fait partie des {{ user.faction.name|upper }}S</h2>
</div>
<div id="resumeFight" class="bkg-{{ user.faction.name|lower }}">
	{{ render (controller('PotagerFrontBundle:Character:stats', {'user': user})) }}
</div>

<div id="last3fights">
	{{ render (controller('PotagerFrontBundle:Character:lastFights', {'user': user})) }}
</div>

<div id="caracteristic" class="betterave">
	<p class="title_caracteristic">Caractéristiques</p>
	<ul>
		<li>Nombre de victoires : {{ user.fightWon }}</li>
		<li>Nombre de défaites : {{ user.fightLost }}</li>
		<li>Nombre d'égalités : {{ user.fightDraw }}</li>
	</ul>
	<p>{{ user.username|lower }} est niveau <span id="levelUser">{{ user.attribute.level }}</span></p>

	<div class="skill experience">
		<p class="skill_title">Expérience</p>
		<div id="bar-1" class="bar-main-container azure">
			<div class="wrap">
				<div class="bar-percentage"
					data-percentage="{{ user.attribute.xp }}">{{ user.attribute.xp }} %</div>
				<div class="bar-container">
					<div class="bar"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="double_skills" class="clearfix">
		<div id="skills_left">
			<div class="skill strenght">
				<p class="skill_title">Force</p>
				<div id="bar-2" class="bar-main-container emerald">
					<div class="wrap">
						<div class="bar-percentage"
							data-percentage="{{ user.attribute.strenght }}">{{
							user.attribute.strenght }} pts</div>
						<div class="bar-container">
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="skill stamina">
				<p class="skill_title">Endurance</p>
				<div id="bar-3" class="bar-main-container violet">
					<div class="wrap">
						<div class="bar-percentage"
							data-percentage="{{ user.attribute.stamina }}">{{
							user.attribute.stamina }} pts</div>
						<div class="bar-container">
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="skills_right">
			<div class="skill agility">
				<p class="skill_title">Agilité</p>
				<div id="bar-4" class="bar-main-container yellow">
					<div class="wrap">
						<div class="bar-percentage"
							data-percentage="{{ user.attribute.agility }}">{{
							user.attribute.agility }} pts</div>
						<div class="bar-container">
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="skill luck">
				<p class="skill_title">Chance</p>
				<div id="bar-5" class="bar-main-container red">
					<div class="wrap">
						<div class="bar-percentage"
							data-percentage="{{ user.attribute.luck }}">{{
							user.attribute.luck }} pts</div>
						<div class="bar-container">
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>


{% endblock content %}