{% extends 'PotagerFrontBundle::layout.html.twig' %} {% block content %}

<div id="header">
	<img id="logo"
		src="{{ asset('bundles/potagerfront/images/logo.png') }}"
		alt="Garden War" />
</div>
<div id="banner">
	<div id="about_game">
		<h2>Rejoins le combat !</h2>
		<p>
			Bienvenue sur le champs de bataille, la guerre est déclarée entre les
			Kiwis et les Betteraves, mais qui va gagner ?<br> <br> Choisis ton
			camp, crée un personnage et apporte la victoire à ton équipe !
		</p>
	</div>
	<div id="connect_form">
		<h2>Se connecter</h2>

{{ render(controller('FOSUserBundle:Security:login')) }}



	</div>
	<div id="vs_round">
		<img src="{{ asset('bundles/potagerfront/images/vs_round.png') }}"
			alt="VS">
	</div>
</div>
<!-- fin #banner -->
<div id="wrapper" class="home">

	<div id="join_team">
		{% for faction in factions %}
		<div id="{{ faction.name|lower }}_team">
			<a href="./rejoindre/{{ faction.name }}">{{ faction.name|lower }}</a>
		</div>
		{% endfor %}
		<div id="victory_team">
			<p class="title_victory">Victoires</p>
			<div id="result_betterave">{{ scores.Betterave }}%</div>
			<div id="full">
				<div id="progress_bar" style="width: {{ scores.Betterave }}%;"></div>
			</div>
			<div id="result_kiwi">{{ scores.Kiwi }}%</div>
		</div>
	</div>

	<div id="choose_arrow">
		<p>Choisis ton camp</p>
	</div>


</div>

{% endblock %}
