{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    {% for child in form.avatar %}
    <div>
        <p class="test">{{ form_widget(child) }} <label for="{{child.vars.id}}" ><img src={{ asset(child.vars.label) }} /> </label></p>
    </div>
    {% endfor %}
    
    {{ form_row(form.save) }}
{{ form_end(form) }}