{% form_theme form _self %}

{% block _form_avatar_widget %}
    <div>
        {{ block('form_row_simple') }}
    </div>
{% endblock %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_widget(form.avatar) }}

    {% form_theme form _self %}
    <input type="submit" />
{{ form_end(form) }}